*.log
.DS_Store
/node_modules
/packages/*/node_modules
/packages/common/src/version.ts
.cache
dist
coverage/

**/repomix-output.txt

**/__diff_output__/**
/packages/schemas/pars-doe-pdfme-extensions-1.0.0.tgz
